* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #FFFFFF;
    background: linear-gradient(#FFFFFF, #FFC1CC) no-repeat fixed;
    margin-right: 15px;
    margin-left: 15px;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: black;
    font-family: "Calibri Light";
    margin-bottom: 100px;
}

p {
    text-align: center;
    font-size: 40px;
    color: black;
    font-family: "Calibri Light";
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
}

h2 {
    text-align: center;
    font-size: 50px;
    color: black;
    font-family: "Calibri Light";
    margin-bottom: 100px;
}

img {
    border-radius: 20px;
    padding: 5px;
    width: 360px;
}

h3 {
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    color: black;
    font-family: "Calibri Light";
    margin-bottom: 100px;
}

h4 {
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    color: black;
    font-family: "Calibri Light";
    margin-bottom: 100px;
}